{% from 'commom/macros.html' import static%}
{% extends "front/front_base.html" %}
{% block title %}ZZ区块链论坛{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ static("front/css/front_index.css") }}">
    <script src="{{ static("front/js/index.js") }}"></script>
{% endblock %}
{% block body %}
    <div class="lg-container">
        <div id="carousel-example-generic" class="carousel slide index-banner" data-ride="carousel">
          <!-- 指示器 -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- 轮播图 -->
          <div class="carousel-inner" role="listbox">
              {% for banner in banners %}
                  {% if loop.first %}
                    <div class="item active">
                  {% else %}
                    <div class="item ">
                  {% endif %}
                        <a href="{{ banner.link_url }} " target="_blank">
                            <img src="{{ banner.image_b }}" alt="..." class="img-b">
                        </a>
                    </div>
              {% endfor %}

              
          </div>

          <!-- 左右切换的控制按钮 -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="post-group">
            <ul class="post-group-head subnav">
                <li class="ac"><a href="{{ url_for("front.index",st=1,bd=current_board) }}">最新</a></li>
                <li><a href="{{ url_for("front.index",st=2,bd=current_board) }}">精华帖</a></li>
                <li><a href="{{ url_for("front.index",st=3,bd=current_board) }}">点赞最多</a></li>
                <li><a href="{{ url_for("front.index",st=4,bd=current_board) }}">评论最多</a></li>
            </ul>
            <ul class="post-list-group">
                {% for post in posts %}
                    <li>
                        <div class="author-avatar-group">
                            <img src="{{ post.author.avatar or url_for('static',filename='images/1.png/') }}" alt="">
                        </div>
                        <div class="post-info-group">
                            <p class="post-title">
                                <a href="{{ url_for('front.post_detail',post_id=post.id) }}">{{ post.title }}</a>
                                {% if post.highlight %}
                                    <span class="label label-danger">精华帖</span>
                                {% endif %}
                                </p>
                            <p class="post-info">
                                <span>作者:{{ post.author.username }}</span>
                                <span>发布时间:{{ post.create_time }}</span>
                                <span>评论:0</span>
                                <span>阅读:0</span>
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div style="text-align: center;">
                {{ pagination.links }}
            </div>

        </div>
    </div>
    <div class="sm-container">
        <div style="margin-bottom: 10px">
            <a href="{{ url_for("front.apost") }}" class="btn btn-warning btn-block">发布新帖</a>
        </div>
        <div class="list-group">
            {% if current_board %}
                <a href="/" class="list-group-item ">所有板块</a>
            {% else %}
                <a href="/" class="list-group-item active">所有板块</a>
            {% endif %}

            {% for board in boards %}
                {% if board.id == current_board %}
                     <a href="{{ url_for("front.index",bd=board.id) }}" class="list-group-item active">{{ board.name }}</a>
                {% else %}
                     <a href="{{ url_for("front.index",bd=board.id) }}" class="list-group-item">{{ board.name }}</a>
                {% endif %}

            {% endfor %}

        </div>
    </div>

{% endblock %}