{% extends 'cms/cms_common.html' %}
{% from "commom/macros.html" import static %}
{% block title -%}
   帖子管理
{%- endblock %}
{% block head %}
    <script src="{{ static('cms/js/posts.js') }}"></script>
{% endblock %}
{% block title_1 -%}
    首页
{%- endblock %}
{% block title_2 -%}
    {{ self.title() }}
{%- endblock %}
{% block main_center %}
    <table class="table table-bordered table-layout:fixed">
        <thead>
        <tr>
            <th>标题</th>
            <th>发布时间</th>
            <th>板块</th>
            <th>作者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
{#                如果是1表示用户已经加过精#}
                <tr class="success"  data-id="{{ post.id }}" data-highlight="{{ 1 if post.highlight else 0 }}">
                    <td><a target="_blank" href="{{ url_for("front.post_detail",post_id=post.id) }}">{{ post.title }}</a></td>
                    <td>{{ post.create_time }}</td>
                    <td>{{ post.board.name }}</td>
                    <td>{{ post.author.username }}</td>
                    <td>
                        {% if post.highlight %}
                         <button class="btn btn-default btn-xs highlight-btn">取消加精</button>
                        {% else %}
                         <button class="btn btn-default btn-xs highlight-btn">加精</button>
                        {% endif %}
                        <button class="btn btn-danger btn-xs delete-btn">移除</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center">
                {{ pagination.links }}
    </div>
{% endblock %}